---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "fabiomrbarbosa_fabiomrbarbosa-zeropoint",
  "short_name": "fabiomrbarbosa_fabiomrbarbosa-zeropoint",
  "display": "standalone",
  "start_url": "/"
}
